*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: chartreuse;
    text-align: center;
}
.container{
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.head {
    /* padding-top: 20px; */
    font-weight: bold;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    cursor: pointer;
}
#reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#msg{
    color: crimson;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}